.comment-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

body {
    background-color: #f3eee7;
    font-family: 'DM sans', sans-serif;
}

h1 {
    font-family: 'Source serif 4', sans-serif;
}

button {
    background-color: #c95454;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
}

input {
    height:45px;
    font-size:16px;
    width: 200px;
    margin: 5px;
    display: inline;
}

.questionContainer {
  background-color: #f3eee7;
}

.comment-container {
  display: inline;
}

.comment-text {
  font-size: 16px;
}