.comment-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Adds spacing between elements */
    margin-top: 10px;
  }

  body {
    background-color: #f3eee7
  }

  h1 {
    font-family: 'DM sans', sans-serif;
  }

